*/{
margin: 0;
padding: o;
}
body{
    background-color: #1f242e;
}
.contaire{
    width: 100%;
}
a{
    text-decoration: none;
    
}
header a{
    color: #f48c00;
    font-size: 25px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header span{
   margin-right: 40%;
}
header ul li{
    list-style: none;
    margin: 20px;   
}
header ul{
    display:inline-flex;
    justify-content: flex-end;
}
.corp{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.col1{
    margin: 0;
    width: 50%;
}
.col1 h2{
    color: blanchedalmond;
    font-size: 40px;
}
.col2{
    margin-left: 200px;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    background-color:#f48c00;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col2 img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    

}
.text{
    color: blanchedalmond;
    font-size: 20px;
}
.text strong{
    color: #f48c00;
    font-size: 30px;
}
.col1 p{
    color: blanchedalmond;
}
.con{
    display: flex;
    justify-content: center;
}
.icon{
    width: 80px;
    height: 80px;
    background-color:#f48c00;
    margin:20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon img{
    width: 60px;
    height: 60px;
}
.btn{
    width: 200px;
    height: 50px;
    background-color:#f48c00;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;

}

