body, h1, h2, h4, ul, li{
    margin: 0px;
    padding: 0px;
}

ul.menu{
    height: 50px;
    display: flex;
    list-style-type: none;
    margin: 0px;
    background-color: rgb(64, 16, 225);
    
}
li.menu{
    display: flex;
    align-items:center;
    justify-content: center;
    width: 100px;
    height: 100%;
    margin-left: 2px;
    background-color: rgba(192, 192, 227, 0.3);
}
li.menu:hover{
    cursor: pointer;
    background-color: rgba(9, 9, 131, 0.3);
}
a.menu{
    outline: none;
    text-decoration: none;
}
.banier{
    background-image: url(../img/01.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
}
.text-banier{
    align-items: center;
    justify-content: center;
}
p.text{
    color: rgb(84, 20, 20);
}
button.text{
    width: 150px;
    height: 35px;
    margin-left: 50%;
    align-items: flex-end;
    border: none;
    border-radius: 2px;
    background-color: rgb(186, 40, 40);
    color: #ffffff;
    margin-top: 100px;
}
button.text:hover{
    cursor: pointer;
    background-color:rgb(75, 22, 22) ;
}
.contenu{
    display: flex;
    
}
.contenu-01{
    color: #ffffff;
    background-color: rgb(64, 16, 225);
    width: 25%;
    height: auto;
    margin: 20px;
}
.contenu-02{
    color: #ffffff;
    background-color: rgb(64, 16, 225);
    width: 25%;
    height: auto;
    margin: 20px;
}
.contenu-03{
    color: #ffffff;
    background-color: rgb(64, 16, 225);
    width: 25%;
    height: auto;
    margin: 20px;
}
.contenu-04{
    color: #ffffff;
    background-color: rgb(64, 16, 225);
    width: 25%;
    height: auto;
    margin: 20px;
}
h4.contenu{
    font-size: 15px;
    color: rgb(255, 255, 255);
}